<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="create-wallet-success">

        <div class="page-content">

            <div class="row">

                <div class="col-100 large-50 center">

                    <div class="block-title">
                        <i class="icon f7-icons">lock_shield_fill</i> This is your key phrase.
                    </div>

                    <div class="block block-strong inset">
                        <div class="row">
                            {{#each mnemonic}}
                            <div class="col-33 mnemonic">
                                <div class="number">{{js "@index + 1" }}.</div>
                                <div class="word">{{this}}</div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="block block-strong inset">
                        {{#each mnemonic}}
                        {{this}}
                        {{/each}}
                    </div>


                    <div class="block-title">Important</div>
                    <div class="block block-strong inset">
                        <p>
                            This 12 word secret phrase is how your account is accessed. It's important to keep
                            this phrase secret.
                        </p>

                        <p>
                            <strong>Write this phrase on a piece of paper</strong> and keep it in a secure
                            location.
                        </p>

                        <p>
                            <strong>WARNING:</strong> Don't ever tell anyone your secret phrase. Anyone with
                            this phrase can use it to access your account and make permanent changes. There is no
                            way
                            to recover lost key phrases.
                        </p>

                    </div>

                    <div class="block row">
                        <a class="button button-fill col-100 large-40" href="/createWalletDone">Got it</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</template>



<script>
    // first we import super class
    import { SpaceComponent } from '../../util/space-component';

    // we need to export extended class
    export default class extends SpaceComponent {

        // hooks
        beforeCreate() {

        }
        mounted() {
        }

        beforeDestroy() {
        }

    }
</script>